.fixed-image {
  width: 600px;
  height: 400px;
  object-fit: cover; /* oreže a nedeformuje obrázok */
}

.opinion-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.my-green-card {
  color: $green-700;
  background-color: tint-color($green-700, 90%);
  border: 1px solid tint-color($green-700, 80%);
  border-radius: .3rem; // ekvivalent rounded-3
}
